{% extends 'base.html' %}
{% load static %}

{% block title %}Terms and Conditions{% endblock title %}

{% block content %}
    <section class="hero-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <p class="h1 font-weight-light text-white">Oxford Community Time Bank</p>
                    <h1 class="display-4 font-weight-bold text-white">About the Time Bank</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container my-5">
        <p>
            Helping others is like money in the bank, thanks to an innovative currency system introduced by the Algernon 
            Sydney Sullivan Foundation. Since 1930, the Sullivan Foundation has long recognized, rewarded, and supported 
            leaders who place service to others above self-interest. In 2008, the Foundation added a focus on fostering 
            change through programming focused on personal development and leadership, assessment of rural communities and 
            their problems, and problem-solving through innovation and entrepreneurial skills. This project deepens that 
            mission, providing community members with new opportunities to serve, develop their leadership and entrepreneurial 
            skills, and assist their communities.
        </p>
        <p>
            Time banking, created by Edgar S. Cahn in 1980, is a mode of exchange that allows people to swap their skills 
            and time, rather than money, while helping fulfill unmet social needs. Participants earn and spend "time 
            credits"&mdash;for every hour they spend on an activity that helps others, they receive one time credit. When 
            they need help from other time bank members with particular skills, they can “spend” their time credits.
        </p>
        <p>
            Due to the recent economic crisis induced by the Covid-19 pandemic, rural communities across the country are 
            suffering greater inequities based on unemployment and poverty rates, and other economic indicators.
        </p>
        <p>
            The researchers at the National Academy of Sciences for the United States of America (NAS) found that there 
            was a 9.74% increase in unemployment of previously full-time employees in rural western communities, a rate 
            significantly higher than the 7.4% increase of unemployment rates in previously full-time employees nationally. 
            Many living in rural areas of our country have had to rely on unemployment insurance and more than half of the 
            responders to the NAS study perceive the Covid-19 pandemic negatively impacted their lives and their local 
            economic health has decreased dramatically.
        </p>
        <p>
            The Time Bank was born from this adversity, as it encourages innovation and growth of local economies during a 
            time of economic upheaval, while fostering civic engagement during a time of isolation. Bridging divides and 
            propelling progress, these service-based interactions give new life and meaning to the local economy.
        </p>
        <h2>How the Time Bank Benefits Your Community</h2>
        <p>
            With the isolation ensuing from Covid-19, partnered with a technologically-driven society, we are increasingly 
            disconnected from the gift of community. During a time of isolation, we rediscovered the importance of daily 
            interactions. Transitioning out of a pandemic and back into our neighborhoods, the Time Bank provides a way to 
            foster intentional connection and strengthen bonds with strangers through civic engagement. This engagement will 
            serve disadvantaged small business owners, community volunteers, community leaders, and new/existing entrepreneurs.
        </p>
        <p>
            Involved communities are benefited by the Time Bank's core values:
            <ol>
                <li>Assets: Everyone has something to offer;</li>
                <li>Redefining Work: Building home, family and community is valued work;</li>
                <li>
                    Reciprocity: Encouraging givers to receive&mdash;and receivers to give&mdash;builds trust and resiliency 
                    and sharing;
                </li>
                <li>Community: We are stronger together;</li>
                <li>Respect: Respect is the root of equality.</li>
            </ol>
        </p>
        <p>
            In addition to relational bonds, practical needs are met through the Time Bank, as lawns are mowed and walls are 
            painted. This allows community members to sharpen their crafts, and maybe even rediscover some hobbies. The 
            tradition of having a trade is diminishing; the Time Bank provides an opportunity to rekindle that long-respected 
            tradition. Every hour of service is banked with equal value, promoting the notion that all skillsets are beneficial 
            to the community.
        </p>
        <p>
            Our credit system also allows those recovering from financial hardship, whether induced by Covid-19 or preexisting, 
            a new way to move forward. Members who wish to simply help the community through their service are able to donate 
            their earned hours to a designated community pot so that members of that specific community, who may not be able to 
            provide services themselves, can receive benefit.
        </p>
        <p>
            Everyone has something to give and everyone has needs. The Time Bank encourages the virtues of both giving and 
            receiving by earning credits and using credits. This program provides individuals with the opportunity to develop 
            hands-on skills and competencies in entrepreneurship and community engagement.
        </p>
        <h2>FAQ</h2>
        <h4>What is TimeBanking?</h4>
        <p>
            TimeBanking is a community program that allows the voluntary exchange of services between members.
        </p>
        <p>
            It’s as simple as give an hour, receive an hour: by giving one hour of help to another member you earn one hour 
            of time credits, which can be used to receive services that are of personal value such as dog walking, ironing, 
            community gardening, massage, language tuition, painting, administrative assistance...you’re only restricted by 
            your imagination.
        </p>
        <p>
            Everyone can be part of TimeBanking because everyone has something to give.
        </p>
        <h4>What can TimeBanking do for me?</h4>
        <p>
            If you like to volunteer and give time to your community, TimeBanking is for you!
        </p>
        <p>
            TimeBanking can help you build a network of support within your neighborhood or community because TimeBanking 
            creates connections through sharing skills. You also earn time credits for giving your time and sharing your 
            skills to help another member. You can then use these credits to receive services that are useful and valuable 
            to you.
        </p>
        <p>
            Everyone has different skills and knowledge to share, which is why TimeBanking is so successful.
        </p>
        <h4>How is TimeBanking different from traditional volunteering?</h4>
        <p>
            In TimeBanking you are volunteering your time, but unlike traditional volunteering you are likely to be volunteering 
            for another member of your community. Also, in TimeBanking you earn time credits for giving services to another 
            which you can then use to receive services that are useful and valuable to you.
        </p>
        <h4>How does it work?</h4>
        <p>
            Once you become a TimeBanking member, you are able to search through all the offers of assistance and requests for 
            assistance made by other members.
        </p>
        <p>
            If you see someone’s offer or request that you could complete, or that you would find useful, you simply contact 
            that person to arrange the completion of the service.
        </p>
        <p>
            Following completion of the task, the person who provided the service logs onto https://sullivantimebank.org/ and 
            registers the number of hours it took. The system then completes the exchange of time between the members involved.
        </p>
        <p>
            Everyone has something to give, so have a think about what you could offer and what you could want. It may be 
            housework, it could be guitar lessons, or even reading to someone there are no limits!
        </p>
        <h4>What types of services can I request?</h4>
        <p>
            Anything that you need help with from computer repairs, cleaning, driving, hospital visits, cooking lessons, 
            umpiring, flat pack construction, pool cleaning, administrative assistance, working bees…the possibilities are 
            endless!
        </p>
        <h4>What if I don't want anything?</h4>
        <p>
            You can still participate! If you don’t use the hours you earn, you can donate them to another TimeBanking 
            member by contacting your local TimeBanking coordinator.
        </p>
        <h4>What is expected of me as a member?</h4>
        <p>
            We ask that members make their first exchange within two weeks of joining and engage in at least six activities 
            during the course of a year. We also ask that you return any messages with requests or offers for service within 
            several days of receiving them.
        </p>
        <p>
            You are not obliged to provide a service to anyone; however, you are asked to look for suitable opportunities 
            to give back.
        </p>
        <h4>How can I become a member?</h4>
        <p>
            All you have to do is register on https://sullivantimebank.org/.
        </p>
        <p>
            You will then be sent a username and password so that you are able to access the system.
        </p>
        <h4>How much does it cost to become a member?</h4>
        <p>TimeBanking is free to join so sign up today!</p>
        <h4>Further questions?</h4>
        <p>
            We’d be pleased to answer any other questions you may have. Contact us at admin@sullivanfdn.org.
        </p>
    </div>
{% endblock content %}