{% extends 'base.html' %}
{% load static %}

{% block title %}Terms and Conditions{% endblock title %}

{% block content %}
    <section class="hero-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <p class="h1 font-weight-light text-white">Oxford Community Time Bank</p>
                    <h1 class="display-4 font-weight-bold text-white">About the Time Bank</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container my-5">
        <p>
            Helping others is like money in the bank, thanks to an innovative currency system introduced by the Algernon 
            Sydney Sullivan Foundation. Since 1930, the Sullivan Foundation has long recognized, rewarded, and supported 
            leaders who place service to others above self-interest. In 2008, the Foundation added a focus on fostering 
            change through programming focused on personal development and leadership, assessment of rural communities and 
            their problems, and problem-solving through innovation and entrepreneurial skills. This project deepens that 
            mission, providing community members with new opportunities to serve, develop their leadership and entrepreneurial 
            skills, and assist their communities.
        </p>
        <p>
            Time banking, created by Edgar S. Cahn in 1980, is a mode of exchange that allows people to swap their skills 
            and time, rather than money, while helping fulfill unmet social needs. Participants earn and spend "time 
            credits"&mdash;for every hour they spend on an activity that helps others, they receive one time credit. When 
            they need help from other time bank members with particular skills, they can “spend” their time credits.
        </p>
        <p>
            Due to the recent economic crisis induced by the Covid-19 pandemic, rural communities across the country are 
            suffering greater inequities based on unemployment and poverty rates, and other economic indicators.
        </p>
        <p>
            The researchers at the National Academy of Sciences for the United States of America (NAS) found that there 
            was a 9.74% increase in unemployment of previously full-time employees in rural western communities, a rate 
            significantly higher than the 7.4% increase of unemployment rates in previously full-time employees nationally. 
            Many living in rural areas of our country have had to rely on unemployment insurance and more than half of the 
            responders to the NAS study perceive the Covid-19 pandemic negatively impacted their lives and their local 
            economic health has decreased dramatically.
        </p>
        <p>
            The Time Bank was born from this adversity, as it encourages innovation and growth of local economies during a 
            time of economic upheaval, while fostering civic engagement during a time of isolation. Bridging divides and 
            propelling progress, these service-based interactions give new life and meaning to the local economy.
        </p>
        <h2>How the Time Bank Benefits Your Community</h2>
        <p>
            With the isolation ensuing from Covid-19, partnered with a technologically-driven society, we are increasingly 
            disconnected from the gift of community. During a time of isolation, we rediscovered the importance of daily 
            interactions. Transitioning out of a pandemic and back into our neighborhoods, the Time Bank provides a way to 
            foster intentional connection and strengthen bonds with strangers through civic engagement. This engagement will 
            serve disadvantaged small business owners, community volunteers, community leaders, and new/existing entrepreneurs.
        </p>
        <p>
            Involved communities are benefited by the Time Bank's core values:
            <ol>
                <li>Assets: Everyone has something to offer;</li>
                <li>Redefining Work: Building home, family and community is valued work;</li>
                <li>
                    Reciprocity: Encouraging givers to receive&mdash;and receivers to give&mdash;builds trust and resiliency 
                    and sharing;
                </li>
                <li>Community: We are stronger together;</li>
                <li>Respect: Respect is the root of equality.</li>
            </ol>
        </p>
        <p>
            In addition to relational bonds, practical needs are met through the Time Bank, as lawns are mowed and walls are 
            painted. This allows community members to sharpen their crafts, and maybe even rediscover some hobbies. The 
            tradition of having a trade is diminishing; the Time Bank provides an opportunity to rekindle that long-respected 
            tradition. Every hour of service is banked with equal value, promoting the notion that all skillsets are beneficial 
            to the community.
        </p>
        <p>
            Our credit system also allows those recovering from financial hardship, whether induced by Covid-19 or preexisting, 
            a new way to move forward. Members who wish to simply help the community through their service are able to donate 
            their earned hours to a designated community pot so that members of that specific community, who may not be able to 
            provide services themselves, can receive benefit.
        </p>
        <p>
            Everyone has something to give and everyone has needs. The Time Bank encourages the virtues of both giving and 
            receiving by earning credits and using credits. This program provides individuals with the opportunity to develop 
            hands-on skills and competencies in entrepreneurship and community engagement.
        </p>
    </div>
{% endblock content %}