{% extends 'base.html' %}
{% load static %}

{% block title %}Sullivan Foundation TimeBank{% endblock title %}

{% block content %}
<!-- START HERO -->
<section class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
{#                <div class="mt-md-4">#}
                    <p class="h1 font-weight-light text-white">Welcome to the</p>
                    <h1 class="display-4 font-weight-bold text-white">Oxford Community TimeBank</h1>

                    <p class="mb-4 font-24 text-white">
                        Building community through an alternative economy
                    </p>

                    <a href="{% url 'account_signup' %}" target="_blank" class="btn btn-secondary btn-lg text-white shadow-none mt-4">Register in Your Community! <i
                            class="mdi mdi-arrow-right ml-1"></i></a>
{#                </div>#}
            </div>
            <div class="col-md-5">
                <div class="text-md-right mt-3 mt-md-0">
                    <img src="{% static 'images/timebank-clock-2.png' %}" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HERO -->

<!-- START SERVICES -->
{% comment %} <section class="py-3">
    <div class="container">
        <div class="row py-4 justify-content-between">
            <div class="col-12 col-md-3 border rounded-lg shadow">
                <div class="text-center p-3">
                    <div class="avatar-sm m-auto">
                        <i class="dripicons-graduation text-primary h1"></i>
                    </div>
                    <h3 class="mt-3 text-secondary">Learn</h3>
                    <p class="text-muted mt-2 mb-0">more about TimeBanks and our mission</p>
                </div>
            </div>

            <div class="col-12 col-md-3 border rounded-lg shadow">
                <div class="text-center p-3">
                    <div class="avatar-sm m-auto">
                        <i class="dripicons-lightbulb text-primary h1"></i>
                    </div>
                    <h3 class="mt-3 text-secondary">Discover</h3>
                    <p class="text-muted mt-2 mb-0">ways you can help in your community</p>
                </div>
            </div>

            <div class="col-12 col-md-3 border rounded-lg shadow">
                <div class="text-center p-3">
                    <div class="avatar-sm m-auto">
                        <i class="uil uil-bolt text-primary h1"></i>
                    </div>
                    <h3 class="mt-3 text-secondary">Ignite</h3>
                    <p class="text-muted mt-2 mb-0">change by supporting the cause</p>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!-- END SERVICES -->

<!-- START FEATURES 2 -->
<section class="py-2 bg-light">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="{% static 'images/porch.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-4 offset-lg-1">
                <h2>About the Sullivan TimeBank</h2>
                <p class="mt-3 font-18">
                    Come together with your neighbors to share services and strengthen bonds. 
                    Participants earn and spend "time credits" -- for every hour they spend on an activity 
                    that helps others, they receive one time credit. When they need help from other TimeBank 
                    members with particular skills, they can "spend" their time credits.
                </p>
                {% comment %} <p class="mt-3 font-18">Helping others is like money in the bank, thanks to an innovative currency
                    system introduced by the Sullivan Foundation. TimeBanking, created by Edgar S. Cahn in 1980, is a
                    mode of exchange that allows people to swap their skills and time, rather than money, while helping
                    fulfill unmet social needs. Participants earn and spend “time credits”—for every hour they spend
                    on an activity that helps others, they receive one time credit. When they need help from other
                    TimeBank members with particular skills, they can “spend” their time credits.
                </p>
                <p class="mt-3 font-18">
                    These tools encourage innovation and growth of local economies, while fostering civic
                    engagement. Bridging divides and propelling progress, these service-based interactions give new
                    life and meaning to the local economy.
                </p> {% endcomment %}
{#                <a href="" class="btn btn-primary btn-rounded mt-3">Read More <i class="mdi mdi-arrow-right ml-1"></i></a>#}

            </div>
        </div>
    </div>
</section>
<!-- END FEATURES 2 -->

<!-- START FEATURES 3 -->
<section class="py-2 bg-white">
    <div class="container -fluid">
        <div class="row mt-2 py-5 align-items-center">

            <div class="col-lg-6">
                <h2>How the TimeBank Benefits Your Community</h2>

                <p class="mt-3 font-18">With the isolation ensuing from Covid-19, partnered with a
                    technologically-driven society, we are increasingly disconnected from the gift of community. During
                    a time of isolation, we rediscovered the importance of daily interactions. Transitioning out of a
                    pandemic and back into our neighborhoods, the TimeBank provides a way to foster intentional
                    connection and strengthen bonds with strangers.
                </p>
                <p class="mt-3 font-18">
                    In addition to relationships, practical needs are met through the TimeBank, as lawns are mowed
                    and walls are painted. This allows community members to sharpen their crafts, and maybe even
                    rediscover some hobbies. Our credit system also allows those recovering from financial hardship
                    a new way to move forward.
                </p>
{#                <a href="" class="btn btn-primary btn-rounded mt-3">Read More <i class="mdi mdi-arrow-right ml-1"></i></a>#}

            </div>
            <div class="col-lg-4 offset-lg-1">
                <img src="{% static 'images/timebank-clock.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!-- END FEATURES 3 -->

<section class="py-3">
    <div class="container">
        <div class="row py-4 justify-content-between">
            <div class="col-12 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Our Core Values</h3>
                        <p class="card-text">
                            <ul class="list-group">
                                <li class="list-group-item font-16"><strong>Assets:</strong> Everyone has something to offer;</li>
                                <li class="list-group-item font-16"><strong>Redefining Work:</strong> Building home, family and community is valued work;</li>
                                <li class="list-group-item font-16">
                                    <strong>Reciprocity:</strong> Encouraging givers to receive – and receivers to give – builds trust and resiliency 
                                    and sharing;
                                </li>
                                <li class="list-group-item font-16"><strong>Community:</strong> We are stronger together;</li>
                                <li class="list-group-item font-16"><strong>Respect:</strong> Respect is the root of equality.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">How It Works</h3>
                        <p class="card-text">
                            <ul class="list-group">
                                <li class="list-group-item font-16">Make an account on your community’s website</li>
                                <li class="list-group-item font-16">Go to the ‘jobs’ tab to post a new job or respond to a request</li>
                                <li class="list-group-item font-16">
                                    You can also add skills to your profile page and message others to inquire about 
                                    their skills
                                </li>
                                <li class="list-group-item font-16">Donate credit to a member in need by contacting your TimeBanking coordinator</li>
                                <li class="list-group-item font-16">If you are unable to perform tasks and need credit, contact your TimeBanking coordinator</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}