.messageListContainer {
    position: relative;
    width: 65%;
    max-height: 90%;
    overflow-y: auto;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 1px solid #E2E8F0;
}
