{% extends 'dashboard/dashboard-base.html' %}

{% load static %}

{% block title %}Dashboard - Accepted Responses{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.24/r-2.2.7/sp-1.2.2/datatables.min.css"/>
{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="header-title mb-3 pb-2 border-bottom">Accepted Responses</h2>

                    {% if accepted_responses %}
                        <table id="acceptedResponsesList" class="display">
                            <thead>
                                <tr>
                                    <th>Job Name</th>
                                    <th>Accepted By</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for acc_res in accepted_responses %}
                                    <tr>
                                        <td>
                                            {{ acc_res.task.title }}
                                        </td>
                                        <td>
                                            <a href="{% url 'users:user_detail' acc_res.created_by.username %}">
                                                {{ acc_res.created_by.first_name }} {{ acc_res.created_by.last_name }}
                                            </a>
                                        </td>
                                        <td>
                                            <a
                                                href="{% url 'dashboard:complete_job' acc_res.id %}"
                                                class="btn btn-success btn-sm shadow-none mr-2"
                                            >
                                                <i class='mdi mdi-check font-18 mr-1'></i>Mark As Complete
                                            </a>
                                            <a
                                                href="{% url 'dashboard:record_time' acc_res.id %}"
                                                class="btn btn-primary btn-sm shadow-none mr-2"
                                            >
                                                <i class='mdi mdi-clock font-18 mr-1'></i>Record Time
                                            </a>
                                            <a
                                                href="{% url 'dashboard:user_messages' %}?job-id={{ acc_res.task.id }}&sender={{ acc_res.created_by.id }}"
                                                class="btn btn-primary btn-sm shadow-none mr-2"
                                            >
                                                <i class='mdi mdi-email-outline font-18 mr-1'></i>View Messages
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You don't have any active accepted responses at this time.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.24/r-2.2.7/sp-1.2.2/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#acceptedResponsesList").DataTable();
    });
</script>
{% endblock extra_js %}