{% extends 'dashboard/dashboard-base.html' %}

{% load static %}

{% block title %}Dashboard - {{ user.username }}{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.24/r-2.2.7/sp-1.2.2/datatables.min.css"/>
{% endblock extra_css %}

{% block content %}
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">My Dashboard</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card widget-inline">
                <div class="card-body text-center">
                    <i class="mdi mdi-coin text-secondary" style="font-size: 60px;"></i>
                    <h2><span class="text-secondary">{{ user.sullivan_coins_balance }}</span></h2>
                    <p class="text-muted font-15 mb-0">Sullivan Coins</p>
                </div>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->

    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3 pb-2 border-bottom">
                        <h2 class="header-title d-inline-block mr-3">My Current Jobs</h2>
                        <a 
                            href="{% url 'dashboard:new_task' %}"
                            class="btn btn-primary btn-sm shadow-none mb-1"
                        >
                            <i class="uil-plus mr-1"></i>Post New Job
                        </a>
                    </div>

                    {% if user_jobs %}
                        <table id="jobsList" class="display">
                            <thead>
                                <tr>
                                    <th>Job Name</th>
                                    <th>Posted On</th>
                                    <th>Expires On</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for job in user_jobs %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'dashboard:task_update' job.id %}">
                                                {{ job.title }}
                                            </a>
                                        </td>
                                        <td>{{ job.created_on|date:'DATE_FORMAT' }}</td>
                                        <td>{{ job.expires_on|date:'DATE_FORMAT' }}</td>
                                        <td id="current-jobs-actions-container">
                                            <a 
                                                href="{% url 'dashboard:task_update' job.id %}"
                                                class="btn btn-link btn-sm shadow-none px-0 mr-2"
                                                title="Edit Job"
                                            >
                                                <i 
                                                    class='mdi mdi-pencil-outline h3'
                                                ></i>
                                            </a>
                                            <a 
                                                href="{% url 'dashboard:task_delete' job.id %}" 
                                                class="btn btn-link btn-sm shadow-none px-0 mr-2"
                                                title="Delete Job"
                                            >
                                                <i class='mdi mdi-trash-can-outline h3'></i>
                                            </a>
                                            <a 
                                                href="{% url 'dashboard:user_messages' %}?job-id={{ job.id }}" 
                                                class="btn btn-link btn-sm shadow-none px-0 mr-2"
                                                title="View Messages"
                                            >
                                                <i class='mdi mdi-email-outline h3'></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You don't have any current jobs listed at this time.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- COMPLETE JOB MODAL -->
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.24/r-2.2.7/sp-1.2.2/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#jobsList").DataTable();
    });
</script>
{% endblock extra_js %}
