{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A time banking website." name="description" />
        <meta content="C2 Solutions" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        <!-- App css -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;900&display=swap" rel="stylesheet">
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />

        {% block extra_css %}{% endblock extra_css %}

    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="left-side-menu">

                <!-- LOGO -->
                <a href="{% url 'pages:home' %}" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="{% static 'images/sullivan-logo.png' %}" alt="" height="38">
                    </span>

                </a>

                <div class="h-100" id="left-side-menu-container" data-simplebar>

                    <!--- Sidemenu -->
                    <ul class="metismenu side-nav">

                        <li class="side-nav-title side-nav-item">Navigation</li>

                        <li class="side-nav-item">
                            <a href="{% url 'dashboard:dashboard_home' %}" class="side-nav-link">
                                <i class="uil-home-alt mr-1"></i>
                                Dashboard Home
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a 
                                href="javascript: void(0);" 
                                class="side-nav-link"
                            >
                                <i class="uil-comment-alt-lines mr-1"></i>
                                <span>Job Responses</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="side-nav-second-level" aria-expanded="false">
                                <li><a href="{% url 'dashboard:dashboard_pending_responses' %}">Pending</a></li>
                                <li><a href="{% url 'dashboard:dashboard_accepted_responses' %}">Accepted</a></li>
                                <li><a href="{% url 'dashboard:dashboard_completed_responses' %}">Completed</a></li>
                                <li><a href="{% url 'dashboard:dashboard_sent_responses' %}">Sent</a></li>
                            </ul>
                        </li>

                        <li class="side-nav-item">
                            <a href="{% url 'dashboard:user_update' username=user.username %}" class="side-nav-link">
                                <i class="uil-edit mr-1"></i>
                                Update Profile
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="{% url 'dashboard:new_task' %}" class="side-nav-link">
                                <i class="uil-plus mr-1"></i>
                                Post New Job
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="{% url 'dashboard:user_messages' %}" class="side-nav-link">
                                <i class="uil-envelope mr-1"></i>
                                Messages
                            </a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-right-menu float-right mb-0">
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                                    aria-expanded="false">
                                    <span class="account-user-avatar">
                                        {% if user.profile_pic %}
                                            <img 
                                                src="{{ user.profile_pic.url }}" 
                                                alt="user-image" 
                                                class="avatar-sm rounded-circle"
                                                style="object-fit: cover; object-position: center;"
                                            >
                                        {% endif %}
                                    </span>
                                    {% if user.first_name and user.last_name %}
                                        <span>{{ user.first_name}} {{ user.last_name }}</span>
                                    {% else %}
                                        <span>{{ user.email }}</span>
                                    {% endif%}
                                    <!-- PUT APPROVED STATUS HERE? -->
                                    <!-- <span class="account-position">Founder</span> -->
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                    <!-- item-->
                                    <a href="{% url 'dashboard:dashboard_home' %}" class="dropdown-item notify-item">
                                        <i class="mdi mdi-account-circle mr-1"></i>
                                        <span>Dashboard Home</span>
                                    </a>

                                    <!-- item-->
                                    <a href="{% url 'dashboard:user_update' username=user.username %}" class="dropdown-item notify-item">
                                        <i class="mdi mdi-account-edit mr-1"></i>
                                        <span>Update Profile</span>
                                    </a>

                                    <!-- item-->
                                    <a href="{% url 'dashboard:new_task' %}" class="dropdown-item notify-item">
                                        <i class="mdi mdi-plus mr-1"></i>
                                        <span>Post New Job</span>
                                    </a>

                                    <!-- item-->
                                    <a href="{% url 'dashboard:user_messages' %}" class="dropdown-item notify-item">
                                        <i class="mdi mdi-email mr-1"></i>
                                        <span>Messages</span>
                                    </a>

                                    <!-- item-->
                                    <a href="{% url 'account_logout' %}" class="dropdown-item notify-item">
                                        <i class="mdi mdi-logout mr-1"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                            </li>

                        </ul>
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>
                    <!-- end Topbar -->

                    <!-- CONTENT BLOCK GOES HERE -->
                    {% block content %}{% endblock content %}
                    <!-- END CONTENT BLOCK -->


                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                2021 © Sullivan Foundation
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right footer-links d-none d-md-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- bundle -->
        <script src="{% static 'js/vendor.min.js' %}"></script>
        <script src="{% static 'js/app.min.js' %}"></script>

        {% block extra_js %}{% endblock extra_js %}

        <!-- third party js -->
        <!-- third party js ends -->

        <!-- demo app -->
        <!-- end demo js-->

    </body>
</html>
