{% extends 'dashboard/dashboard-base.html' %}

{% load static %}

{% block title %}Dashboard - {{ user.username }}{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.24/r-2.2.7/sp-1.2.2/datatables.min.css"/>
{% endblock extra_css %}

{% block content %}
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">My Dashboard</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card widget-inline">
                <div class="card-body text-center">
                    <i class="mdi mdi-coin text-secondary" style="font-size: 60px;"></i>
                    <h2><span class="text-secondary">{{ user.sullivan_coins_balance }}</span></h2>
                    <p class="text-muted font-15 mb-0">Sullivan Coins</p>
                </div>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->

    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="header-title mb-3 pb-2 border-bottom">My Current Jobs</h2>

                    {% if user_jobs %}
                        <table id="jobsList" class="display">
                            <thead>
                                <tr>
                                    <th>Job Name</th>
                                    <th>Posted On</th>
                                    <th>Expires On</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for job in user_jobs %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'dashboard:task_update' job.id %}">
                                                {{ job.title }}
                                            </a>
                                        </td>
                                        <td>{{ job.created_on|date:'DATE_FORMAT' }}</td>
                                        <td>{{ job.expires_on|date:'DATE_FORMAT' }}</td>
                                        <td id="current-jobs-actions-container">
                                            <a 
                                                href="{% url 'dashboard:task_update' job.id %}"
                                                class="btn btn-link btn-sm shadow-none px-0 mr-2"
                                                title="Edit Job"
                                            >
                                                <i 
                                                    class='mdi mdi-pencil-outline h3'
                                                ></i>
                                            </a>
                                            <a 
                                                href="{% url 'dashboard:task_delete' job.id %}" 
                                                class="btn btn-link btn-sm shadow-none px-0 mr-2"
                                                title="Delete Job"
                                            >
                                                <i class='mdi mdi-trash-can-outline h3'></i>
                                            </a>
                                            <a 
                                                href="{% url 'dashboard:user_messages' %}?job-id={{ job.id }}" 
                                                class="btn btn-link btn-sm shadow-none px-0 mr-2"
                                                title="View Messages"
                                            >
                                                <i class='mdi mdi-email-outline h3'></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You don't have any current jobs listed at this time.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="header-title mb-3 pb-2 border-bottom">Pending Responses</h2>

                    {% if pending_responses %}
                        <table id="pendingResponsesList" class="display">
                            <thead>
                                <tr>
                                    <th>Job Name</th>
                                    <th>Response From</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rsp in pending_responses %}
                                    <tr>
                                        <td>
                                            {{ rsp.task.title }}
                                        </td>
                                        <td>
                                            <a href="{% url 'users:user_detail' rsp.created_by.username %}">
                                                {{ rsp.created_by.first_name }} {{ rsp.created_by.last_name }}
                                            </a>
                                        </td>
                                        <td>
                                            <a
                                                href="{% url 'tasks:update_response_status' response_id=rsp.id new_status='ACCEPTED' %}"
                                                class="btn btn-link btn-sm shadow-none px-0 mr-2"
                                                title="Approve"
                                            >
                                                <i class='mdi mdi-check h3'></i>
                                            </a>
                                            <a
                                                href="{% url 'tasks:update_response_status' response_id=rsp.id new_status='DECLINED' %}"
                                                class="btn btn-link btn-sm shadow-none px-0 mr-2"
                                                title="Deny"
                                            >
                                                <i class='mdi mdi-close h3'></i>
                                            </a>
                                            <a
                                                href="{% url 'dashboard:user_messages' %}?job-id={{ rsp.task.id }}&sender={{ rsp.created_by.id }}"
                                                class="btn btn-link btn-sm shadow-none px-0 mr-2"
                                                title="View Messages"
                                            >
                                                <i class='mdi mdi-email-outline h3'></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You don't have any responses at this time.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="header-title mb-3 pb-2 border-bottom">Accepted Responses</h2>

                    {% if accepted_responses %}
                        <table id="acceptedResponsesList" class="display">
                            <thead>
                                <tr>
                                    <th>Job Name</th>
                                    <th>Accepted By</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for acc_res in accepted_responses %}
                                    <tr>
                                        <td>
                                            {{ acc_res.task.title }}
                                        </td>
                                        <td>
                                            <a href="{% url 'users:user_detail' acc_res.created_by.username %}">
                                                {{ acc_res.created_by.first_name }} {{ acc_res.created_by.last_name }}
                                            </a>
                                        </td>
                                        <td>
                                            <a
                                                href="{% url 'dashboard:complete_job' acc_res.id %}"
                                                class="btn btn-success btn-sm shadow-none mr-2"
                                            >
                                                <i class='mdi mdi-check font-18 mr-1'></i>Mark As Complete
                                            </a>
                                            <a
                                                href="{% url 'dashboard:record_time' acc_res.id %}"
                                                class="btn btn-primary btn-sm shadow-none mr-2"
                                            >
                                                <i class='mdi mdi-clock font-18 mr-1'></i>Record Time
                                            </a>
                                            <a
                                                href="{% url 'dashboard:user_messages' %}?job-id={{ acc_res.task.id }}&sender={{ acc_res.created_by.id }}"
                                                class="btn btn-primary btn-sm shadow-none mr-2"
                                            >
                                                <i class='mdi mdi-email-outline font-18 mr-1'></i>View Messages
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You don't have any active accepted responses at this time.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="header-title mb-3 pb-2 border-bottom">Sent Responses</h2>

                    {% if sent_responses %}
                        <table id="sentResponsesList" class="display">
                            <thead>
                                <tr>
                                    <th>Job Name</th>
                                    <th>Job Creator</th>
                                    <th>Message</th>
                                    {% comment %} <th>Actions</th> {% endcomment %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for sent_res in sent_responses %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'tasks:task_detail' sent_res.task.pk %}">
                                                {{ sent_res.task.title }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'users:user_detail' sent_res.created_by.username %}">
                                                {{ sent_res.created_by.first_name }} {{ sent_res.created_by.last_name }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ sent_res.message }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You haven't sent any responses yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- COMPLETE JOB MODAL -->
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.24/r-2.2.7/sp-1.2.2/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#jobsList").DataTable();
        $("#pendingResponsesList").DataTable();
        $("#acceptedResponsesList").DataTable();
        $("#sentResponsesList").DataTable();
    });
</script>
{% endblock extra_js %}
