{% extends 'dashboard-base.html' %}

{% load static %}

{% block title %}Dashboard - {{ user.username }}{% endblock title %}

{% block content %}
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
{#                <div class="page-title-right">#}
{#                    <ol class="breadcrumb m-0">#}
{#                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>#}
{#                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>#}
{#                        <li class="breadcrumb-item active">Projects</li>#}
{#                    </ol>#}
{#                </div>#}
                <h4 class="page-title">My Dashboard</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card widget-inline">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-sm-6">
                            <div class="card shadow-none m-0">
                                <div class="card-body text-center">
                                    <i class="dripicons-briefcase text-muted" style="font-size: 48px;"></i>
                                    <h3><span>17</span></h3>
                                    <p class="text-muted font-15 mb-0">Completed Opportunities</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card shadow-none m-0 border-left">
                                <div class="card-body text-center">
                                    <i class="dripicons-checklist text-muted" style="font-size: 48px;"></i>
                                    <h3><span>{{ user.sullivan_coins_balance }}</span></h3>
                                    <p class="text-muted font-15 mb-0">Sullivan Coins</p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end row -->
                </div>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->

{#    <div class="row">#}
{#        <div class="col-xl-8">#}
{#            <div class="card">#}
{#                <div class="card-body">#}
{#                    <div class="d-flex justify-content-start align-items-center mb-2">#}
{#                        <h5 class="text-uppercase mr-3">Upcoming Events</h5>#}
{#                        <a href="#" class="btn btn-outline-primary btn-sm shadow-none">#}
{#                            <i class="mdi mdi-calendar-text-outline font-18 mr-1"></i>#}
{#                            Add New Upcoming Event#}
{#                        </a>#}
{#                    </div>#}
{##}
{#                    <div class="row justify-content-sm-between align-items-center border-top py-2">#}
{#                        <div class="col-sm-3 mb-2 mb-sm-0">#}
{#                            <h5><a href="#">Grass Cutting</a></h5>#}
{#                            <span class="badge badge-primary">Offer</span>#}
{#                        </div>#}
{#                        <div class="col-sm-9">#}
{#                            <div class="d-flex justify-content-between align-items-center">#}
{#                                <div>#}
{#                                    <span class="text-muted font-13">Description:</span><br/>#}
{#                                    <span class="font-13">Cut the grass for Mrs. Jones</span>#}
{#                                </div>#}
{#                                <div>#}
{#                                    <span class="text-muted font-13">When:</span><br/>#}
{#                                    <span class="font-13">June 14, 2020, 11:30 AM</span>#}
{#                                </div>#}
{#                                <div>#}
{#                                    <a href="#" class="mr-2"><i class='mdi mdi-trash-can-outline font-18 mr-1'></i>Delete</a>#}
{#                                    <a href="#" class="mr-2"><i class='mdi mdi-pencil-outline font-18 mr-1'></i>Edit</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="row justify-content-sm-between align-items-center border-top py-2">#}
{#                        <div class="col-sm-3 mb-2 mb-sm-0">#}
{#                            <h5><a href="#">Roof Work</a></h5>#}
{#                            <span class="badge badge-secondary text-white">Request</span>#}
{#                        </div>#}
{#                        <div class="col-sm-9">#}
{#                            <div class="d-flex justify-content-between align-items-center">#}
{#                                <div>#}
{#                                    <span class="text-muted font-13">Description:</span><br/>#}
{#                                    <span class="font-13">Mr. Smith is coming to fix my roof</span>#}
{#                                </div>#}
{#                                <div>#}
{#                                    <span class="text-muted font-13">When:</span><br/>#}
{#                                    <span class="font-13">June 16, 2020, 2:00 PM</span>#}
{#                                </div>#}
{#                                <div>#}
{#                                    <a href="#" class="mr-2"><i class='mdi mdi-trash-can-outline font-18 mr-1'></i>Delete</a>#}
{#                                    <a href="#" class="mr-2"><i class='mdi mdi-pencil-outline font-18 mr-1'></i>Edit</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">My Current Offers</h4>

                    {% for user_offer in user_offers %}
                        <!-- Item -->
                        <div class="row justify-content-sm-between align-items-center border-top py-2">
                            <div class="col-sm-4 mb-2 mb-sm-0">
                                <h5><a href="{% url 'tasks:task_detail' user_offer.id %}">{{ user_offer.title }}</a></h5>
{#                                <span class="badge badge-success">Category 1</span>#}
{#                                <span class="badge badge-success">Category 2</span>#}
                            </div>
                            <div class="col-sm-8">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="text-muted font-13">Posted {{ user_offer.created_on|date }}</span> <br/>
                                        <span class="text-muted font-13">Expires {{ user_offer.expires_on|date }}</span>
                                    </div>
{#                                    <div>#}
{#                                        <span class="text-muted font-13">Accepted by</span><br/>#}
{#                                        <img src="{% static 'images/users/avatar-9.jpg' %}" alt="image"#}
{#                                        class="avatar-xs rounded-circle mr-1" data-toggle="tooltip"#}
{#                                        data-placement="bottom" title="Jane Smith" />#}
{#                                        <img src="{% static 'images/users/avatar-4.jpg' %}" alt="image"#}
{#                                        class="avatar-xs rounded-circle mr-1" data-toggle="tooltip"#}
{#                                        data-placement="bottom" title="Mike Smith" />#}
{#                                    </div>#}
                                    <div>
                                        <a href="#" class="mr-2"><i class='mdi mdi-trash-can-outline font-18 mr-1'></i>Delete</a>
                                        <a href="{% url 'tasks:task_update' user_offer.id %}" class="mr-2"><i class='mdi mdi-pencil-outline font-18 mr-1'></i>Edit</a>
                                        <span class="badge badge-success-lighten p-1">Active</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Item -->
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">My Current Requests</h4>

                    {% for user_request in user_requests %}
                        <!-- Item -->
                        <div class="row justify-content-sm-between align-items-center border-top py-2">
                            <div class="col-sm-4 mb-2 mb-sm-0">
                                <h5><a href="{% url 'tasks:task_detail' user_request.id %}">{{ user_request.title}}</a></h5>
{#                                <span class="badge badge-success">Category 1</span>#}
{#                                <span class="badge badge-success">Category 2</span>#}
                            </div>
                            <div class="col-sm-8">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <span class="text-muted font-13">Posted {{ user_request.created_on|date }}</span> <br/>
                                        <span class="text-muted font-13">Expires {{ user_request.expires_on|date }}</span>
                                    </div>
{#                                    <div>#}
{#                                        <span class="text-muted font-13">Accepted by</span><br/>#}
{#                                        <img src="{% static 'images/users/avatar-9.jpg' %}" alt="image"#}
{#                                        class="avatar-xs rounded-circle mr-1" data-toggle="tooltip"#}
{#                                        data-placement="bottom" title="Jane Smith" />#}
{#                                        <img src="{% static 'images/users/avatar-4.jpg' %}" alt="image"#}
{#                                        class="avatar-xs rounded-circle mr-1" data-toggle="tooltip"#}
{#                                        data-placement="bottom" title="Mike Smith" />#}
{#                                    </div>#}
                                    <div>
                                        <a href="#" class="mr-2"><i class='mdi mdi-trash-can-outline font-18 mr-1'></i>Delete</a>
                                        <a href="{% url 'tasks:task_update' user_request.id %}" class="mr-2"><i class='mdi mdi-pencil-outline font-18 mr-1'></i>Edit</a>
                                        <span class="badge badge-success-lighten p-1">Active</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Item -->
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    
</div> <!-- container -->
{% endblock content %}