{% extends 'dashboard-base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Job{% endblock title %}

{% block content %}
<!-- START HERO -->
{#<section class="hero-section">#}
{#    <div class="container">#}
{#        <div class="row justify-content-center align-items-center">#}
{#            <div class="col-md-8">#}
{#                <div class="mt-md-2 text-center">#}
{#                    <p class="display-4 font-weight-light text-white">Sullivan TimeBank</p>#}
{#                    <h1 class="display-2 font-weight-bold text-white">New {{ task_type|title }}</h1>#}
{##}
{#                    <p class="mt-3 font-24 text-white-50">Post a new {{ task_type|lower }}</p>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
<!-- END HERO -->
    <div class="container-fluid my-4 ml-3">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h1>Edit Job Details</h1>

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-secondary shadow-none text-white mr-2" value="Update">
                    <a href="{% url 'users:user_dashboard' %}" class="btn btn-dark shadow-none">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}