<h1>This is the list of {{ task_type }}.</h1>
<h3>{{ task_type|title }} List</h3>

<ul>
    {% for task in task_list %}
        <li><a href="{% url 'tasks:task_detail' task.pk %}">{{ task.title }}</a></li>
    {% empty %}
        <li>There are no requests at this time.</li>
    {% endfor %}
</ul>

{% if task_type == 'requests' %}
    <p><a href="{% url 'tasks:task_request_new' %}">Click here</a> to add a new request.</p>
{% else %}
    <p><a href="{% url 'tasks:task_offer_new' %}">Click here</a> to add a new offer.</p>
{% endif %}
