{% extends 'base.html' %}

{% load static %}

{% block title %}{{ task.task_type|title }} Details{% endblock title %}

{% block content %}
<!-- START HERO -->
<section class="hero-section bg-dark">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="mt-md-2 text-center">
                    <p class="display-4 font-weight-light text-white">Sullivan Time Bank</p>
                    <h1 class="display-2 font-weight-bold text-white">Job Details</h1>

                    <p class="mt-3 font-24 text-white-50">Find out specific details related to this job.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HERO -->

<!-- LIST SECTION -->
<section class="mt-4 py-4">
    <div class="container-fluid">

        <!-- DETAILS BLOCK -->
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-8 col-lg-7">
                <!-- project card -->
                <div class="card d-block">
                    <div class="card-body">

                        <div class="clearfix"></div>

                        <h3 class="mt-3">{{ task.title}}</h3>

                        <div class="row">
                            <div class="col-6">
                                <!-- assignee -->
                                <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase">Posted by</p>
                                <div class="media">
                                    <img 
                                        {% if task.created_by.profile_pic %}
                                            src="{{ task.created_by.profile_pic.url }}"
                                        {% else %}
                                            src="{% static 'images/blank-user.png' %}"
                                        {% endif %}
                                        alt="{{ task.created_by.username}}"
                                        class="rounded-circle mr-2" 
                                        height="36" 
                                        width="36" 
                                    />
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14">
                                            <a href="{% url 'users:user_detail' task.created_by.username %}">{{ task.created_by.first_name}} {{ task.created_by.last_name }}</a>
{#                                            <span class="text-muted">(Rating 4.7)</span>#}
                                        </h5>
                                    </div>
                                </div>
                                <!-- end assignee -->
                            </div> <!-- end col -->

                            <div class="col-6">
                                <!-- start due date -->
                                <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase">Expires On</p>
                                <div class="media">
                                    <i class='uil uil-schedule font-18 text-success mr-1'></i>
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14">
                                            {{ task.expires_on|date:'DATE_FORMAT'}}
                                        </h5>
                                    </div>
                                </div>
                                <!-- end due date -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->


                        <h5 class="mt-3">Details</h5>

                        <p class="text-muted mb-4">
                            {{ task.description }}
                        </p>

                        <h5 class="mt-3">Categories</h5>
                        {% for cat in task.categories.all %}
                            <a href="{% url 'tasks:task_list' slug=cat.slug %}">
                                <span class="badge badge-success font-14">{{ cat.title }}</span>
                            </a>
                        {% endfor %}

                        {% if not user.is_authenticated %}
                            <hr>
                            <p class="text-muted my-3">It looks like you're not signed in! If you'd like to respond to this, please log in or create an account.</p>
                            <a href="{% url 'account_login' %}" class="btn btn-secondary shadow-none text-white mr-2">Sign In</a>
                            <a href="{% url 'account_signup' %}" class="btn btn-secondary shadow-none text-white">Create an Account</a>
                        {% else %}
                            {% if user != task.created_by %}
                                <hr>
                                <p class="text-muted my-3">Interested in this job? Let {{ task.created_by.username }} know!
                                    <button href="#" class="btn btn-secondary shadow-none ml-3 text-white" data-toggle="modal" data-target="#response-modal">I'm Interested!</button>
                                </p>
                            {% endif %}
                        {% endif %}
                    </div> <!-- end card-body-->

                </div> <!-- end card-->
            </div>
        </div>
        <!-- END DETAILS BLOCK -->

    </div>
</section>

<!-- END LIST SECTION -->

<!-- RESPONSE MODAL -->
<div class="modal fade" id="response-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="response-modal-label">Respond to this job</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'tasks:task_response' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" value="{{ task.id }}">
                    <div class="form-group">
                        <label for="message">Message (Optional):</label>
                        <textarea name="message" class="form-control"></textarea>
                    </div>
                    <input type="submit" value="Send" class="btn btn-secondary btn-block shadow-none text-white">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END RESPONSE MODAL -->
{% endblock content %}
